{% extends 'starter-page.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">All content</h1>
   <div class="d-flex flex-wrap gap-5 container">
        {% for x in all  %}
        <div class="card w-25 shadow-lg p-3">
        <p class="table-primary fw-bold"><b>Name:</b>{{ x.name }}</p>
        <p><b>Email:</b>{{ x.email }}</p>
        <p><b>Subject:</b>{{ x.subject }}</p>
        <p><b>Message:</b>{{ x.message }}</p>
        </div>
   </div>

    {% endfor %}


{% endblock %}